.tudo{
  background-color: rgb(0, 85, 74);
}

header{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.23);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 0%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
input{
  padding: 0px 10px 0px 10px;
  margin: 30px;
  margin-inline: 15px;
  display: block;
  width: 400px;
  height: 25px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 0 4px 0 #000;
}

#icon-Senha{
  position: absolute; 
  transform: translateY(-225%);
  left: 90%;
  opacity: 0;
  background-size: cover;
  height: 25px;
  width: 26px;
}

#icon-Senha.anima{
  opacity: 1;
  transition-timing-function: ease;
  transition-duration: .5s;
}

#icon-Senha.anima2{
  opacity: 0;
  transition-timing-function: ease;
  transition-duration: .5s;
}



#icon-Senha.mostrar{
  opacity: 1;
  position: absolute; 
  transform: translateY(-225%);
  left: 90%;
  background: url('http://localhost:3000/cadrastar/img/visivel.png');
  background-size: cover;
  height: 25px;
  width: 25px;
}

#icon-Senha2{
  position: absolute; 
  transform: translateY(-225%);
  left: 90%;
  opacity: 0;
  background-size: cover;
  height: 25px;
  width: 26px;
}

#icon-Senha2.anima{
  opacity: 1;
  transition-timing-function: ease;
  transition-duration: .5s;
}

#icon-Senha2.anima2{
  opacity: 0;
  transition-timing-function: ease;
  transition-duration: .5s;
}



#icon-Senha2.mostrar{
  opacity: 1;
  position: absolute; 
  transform: translateY(-225%);
  left: 90%;
  background: url('http://localhost:3000/cadrastar/img/visivel.png');
  background-size: cover;
  height: 25px;
  width: 25px;
}

#mudar_local_login{
  font-size: 20px;
  color: rgb(1, 59, 134);
}

#mudar_local_login:hover{
  cursor: pointer;
}

#mudar_local_login.animaçãok{
  color: rgb(0, 93, 214);
  transition-timing-function: ease;
  transition-duration: .5s;
}
#mudar_local_login.animaçãok2{
  color: rgb(1, 59, 134);
  transition-timing-function: ease;
  transition-duration: .5s;
}

.btn3{
  font-size: 17px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-inline: 15px;
  width: 390px;
  height: 40px;
  margin-bottom: 15px;
  transition: background .5s; 
}
.btn3:hover{
  background: rgb(170, 170, 170);
}
.btn3:disabled{
  background-color: rgb(170, 170, 170);
}

.Cadrastar-se{
  font-size: 40px;
  text-align: center;
}