body{
    background-color: rgb(0, 85, 74);
}
form{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.23);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#icon-Senha-login{
    position: absolute; 
    transform: translateY(-225%);
    left: 90%;
    opacity: 0;
    background-size: cover;
    height: 25px;
    width: 26px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
#icon-Senha-login.anima{
    opacity: 1;
    transition-timing-function: ease;
    transition-duration: .5s;
}
#icon-Senha-login.anima2{
    opacity: 0;
    transition-timing-function: ease;
    transition-duration: .5s;
}

#icon-Senha-login.mostrar{
    opacity: 1;
    background: url('http://localhost:3000/cadrastar/img/visivel.png');
    background-size: cover;
}
input{
    padding: 0px 10px 0px 10px;
    margin: 30px;
    margin-inline: 15px;
    display: block;
    width: 400px;
    height: 25px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0 0 4px 0 #000;
}
#ir_cadrastar{
    font-size: 20px;
    color: rgb(1, 59, 134);
    text-align: center;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
#ir_cadrastar:hover{
    cursor: pointer;
    color: rgb(0, 93, 214);
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

h1{
    font-size: 40px;
    text-align: center;
}

#btn_login{
    font-size: 17px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-inline: 15px;
    width: 390px;
    height: 40px;
    margin-bottom: 15px;
    transition: background .5s; 
}
#btn_login:hover{
    background: rgb(170, 170, 170);
}
#btn_login:disabled{
    background-color: rgb(170, 170, 170);
}